@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.login{
    
    font-family: 'Poppins', sans-serif;
    font-weight:100;
    font-size: 20px;

    line-height: 82px; 
    color: rgba(53, 74, 89, 0.37);
    
    position: absolute;
    
    height: 83px;
    left: 100px;
    top: 42px;


}



.email{
    
position: absolute;
width: 87px;
height: 45px;
left: 92px;
top: 168px;

font-family: 'Poppins',sans-serif; 
font-style: normal;
font-weight: 310;
font-size: 16px;
line-height: 45px;
color: #605E5E;
}

.inputline{
    background:  #FFFFFF;;
    border-radius: 27px;
    width: 534px;
    height: 52px;
    left: 92px;
    top: 260px;
    position: absolute;
}

.password{
    
    position: absolute;
    width: 46px;
    height: 45px;
    left: 92px;
    top: 353px;
    
    font-family: 'Poppins',sans-serif;
    
    
    font-weight: 100;
    font-size: 16px;
    line-height: 45px;
    color: #605E5E;
    }

.inputline2{

    background:  #FFFFFF;;
    border-radius: 27px;
    width: 534px;
    height: 52px;
    left: 92px;
    top: 466px;
    position: absolute;
    
}  

.img{
    position: absolute;
    width: 1151px;
    height: 970px;
    left: 669px;
    top: 0px;
}
  
